@import url("https://fonts.googleapis.com/css?family=Bitter");

@font-face {
  font-family: "Red October";
  src: url(assets/redOctober.ttf);
}

$gray: #ffedc2;
$red: #f90016;
$font: "Bitter", Verdana, Geneva, Tahoma, sans-serif;

body {
  font-family: $font;
  background: $gray;
  overflow-x: hidden;
  margin: 0;

  @supports (mix-blend-mode: darken) {
    &::after {
      content: "";
      top: 0;
      position: fixed;
      mix-blend-mode: darken;
      background: url(assets/paper.jpg);
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }
}

%title {
  font-family: "Red October", Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-weight: bolder;

  background: $red;
  color: $gray;
  border-top: 0.2em solid black;
  border-bottom: 0.2em solid black;
}

h2,
h3 {
  @extend %title;
}

@keyframes slide {
  from {
    transform: translateX(100vw);
  }

  to {
    transform: translateX(-100%);
  }
}

header {
  @extend %title;
  font-size: 2rem;
  margin: 1.5em 0;
  margin-left: -1ch;
  width: calc(100vw + 2ch);
  transform: rotate(1deg);

  h1 {
    display: inline-block;
    white-space: nowrap;
    margin: 0;
    text-align: center;
    animation: slide 20s linear infinite;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr minmax(min-content, 50ch) 1fr 1fr;
  grid-gap: 2rem 0;

  & > h2 {
    grid-column: 1 / 6;
    @extend %title;
    text-align: center;
    margin: 1em 0;
  }

  article {
    border: 0.2rem solid black;
    border-top: none;

    h3 {
      margin: 0;
      @extend %title;
      text-align: center;

      a {
        font-family: $font;
        font-size: 1rem;
        color: $gray;
        text-decoration: none;
      }
    }

    p {
      margin: 0.5rem;

      em,
      a {
        font-weight: bold;
        color: $red;
      }
    }

    &:nth-of-type(odd) {
      grid-column: 2 / 4;
      transform: rotate(-1deg);
    }

    &:nth-of-type(even) {
      grid-column: 3 / 5;
      transform: rotate(1deg);
    }
  }
}

@media (max-width: 80ch) {
  header {
    transform: none;
  }

  article {
    transform: none !important;
  }
}
