@import url("https://fonts.googleapis.com/css?family=Roboto");

@font-face {
  font-family: "Red October";
  src: url(assets/redOctober.ttf);
}

$gray: #ffedc2;
$red: #f90016;

body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  background: $gray;
  overflow-x: hidden;
  margin: 0;

  @supports (mix-blend-mode: darken) {
    &::after {
      content: "";
      top: 0;
      position: fixed;
      mix-blend-mode: darken;
      background: url(assets/paper.jpg);
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }
}

%title {
  font-family: "Red October", Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-weight: bolder;

  background: $red;
  color: $gray;
  border-top: 0.2em solid black;
  border-bottom: 0.2em solid black;
}

h2,
h3 {
  @extend %title;
}

@keyframes slide {
  from {
    transform: translateX(100vw);
  }

  to {
    transform: translateX(-100vw);
  }
}

header {
  @extend %title;
  font-size: 2rem;
  overflow: hidden;
  margin: 1.5em 0;
  margin-left: -1ch;
  width: calc(100vw + 2ch);
  transform: rotate(-1deg);

  h1 {
    white-space: nowrap;
    margin: 0;
    text-align: center;
    animation: slide 20s linear infinite;
  }
}
